<!DOCTYPE html>
<html>
<head>
  <title>City picker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "city_picker/application", media: "all" %>
  <%= javascript_include_tag "city_picker/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
